*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1a1a1a;
    color: #ffffff;
    text-decoration: none;
    font-family: "Poppins", serif;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
    font-size: 15px;
}

.nav-links{
    margin: 0 20px;
}

.contact-button{
    border: 1px solid #4fc3f7;
    padding: 10px;
    border-radius: 5px;
}

.contact-button:hover{
    background-color: #4fc3f7;
}

.section-1{
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("assets/image-1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 80px;
}

.section-1 h1{
    font-size: 63px;
}

.hero-button{
    border: 1px solid #4fc3f7;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 14px;
}

.hero-button:hover{
    background-color: #4fc3f7;
}

.section-2{
    text-align: center;
    margin-bottom: 80px;
}

.section-2 h1{
    font-size: 45px;
}

.section-2 p{
    padding: 15px 0;
}

.about-button{
    border: 1px solid #4fc3f7;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 14px;
}

.section-3 h1{
    font-size: 45px;
}

.section-3{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.section-3-grid{
    display: grid;
    gap: 20px;
    grid-auto-columns: 270px;
    grid-auto-rows: 220px;
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item4 item5";
    margin: 30px auto;
    width: fit-content;
}

.first-grid-child{
    grid-area: item1;
}

.second-grid-child{
    grid-area: item2;
}

.third-grid-child{
    grid-area: item3;
}

.fourth-grid-child{
    grid-area: item4;
    display: flex;
}

.fourth-grid-child img{
    width: 200px;
}

.fifth-grid-child{
    grid-area: item5;
}

.section-3-item{
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    background-color: #2b2b2b;
}

.section-3-item h3{
    font-size: 15px;
    font-weight: 400;
    padding: 5px 0;
    background-color: #2b2b2b;
    color: #fff;
}

.section-3-item p{
    font-weight: 200;
    font-size: 12px;
    background-color: #2b2b2b;
    color: #e1e1e1;
}

.section-3-item i{
    color: #1a1a1a;
    background-color: #f5f8ff;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
}